---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Maya Amalia</title>
  </head>
  <body>
    <main
      class="max-w-sm bg-slate-800 w-screen h-screen mx-auto shadow-lg py-10 px-5 flex flex-col items-stretch"
    >
      <div class="kotak rounded-lg w-[180px] h-[180px] self-center">
        <img
          class="w-full h-full rounded-full"
          src="./public/myimage.jpg"
          alt="myimage"
        />
      </div>

      <ul class="mt-16 space-y-5">
        <li>
          <a href="https://twitter.com/mayamlia">
            <div
              class="kotak w-full bg-slate-400 px-10 py-6 text-center font-serif font-semibold text-white tracking-wide rounded-lg"
            >
              Twitter
            </div>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/mayamlia_">
            <div
              class="kotak w-full bg-slate-400 px-10 py-6 text-center font-serif font-semibold text-white tracking-wide rounded-lg"
            >
              Instagram
            </div>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/mayamalia">
            <div
              class="kotak w-full bg-slate-400 px-10 py-6 text-center font-serif font-semibold text-white tracking-wide rounded-lg"
            >
              LinkedIn
            </div>
          </a>
        </li>
        <li>
          <a href="https://github.com/mayaamalia">
            <div
              class="kotak w-full bg-slate-400 px-10 py-6 text-center font-serif font-semibold text-white tracking-wide rounded-lg"
            >
              Github
            </div>
          </a>
        </li>
      </ul>
      <div class="text pt-12 text-xs text-white">&copy; Maya Amalia 2023</div>
    </main>
  </body>
</html>
